.header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
  font-family: Helvetica;
  text-align: center;
}
.header h1{
  font-size: 70px;
}
.nav {
  font-size: 18px;
  color:white;
}
#home{
  text-align: center;
  font-family: Helvetica;
}
#home h2{
  font-size: 32px;
  font-weight: bold;
}
#home h3 {
  font-size: 23px;
  font-weight: bold;
}
#home p {
  font-size: 14px;
}
